<link rel='stylesheet' href='/stylesheets/style.css' />

<section class="intro">

      <header class="about-header">
        <h1>About Troy Kayne</h1>

        <a class="discover" href="#About">
          <i class="fa fa-angle-double-down"></i>
        </a>

      </header>

    </section>

    <section class="About" id="About">
      <nav class="navbar navbar-default" id="cd-main-nav">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-center">
                <li><a href="/developer">Web Dev & DS</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/explore">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/shopping-cart">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                <!-- <span class="badge">{{ session.cart.totalQty }}</span> -->
                </a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="About-wrapper">
        <section id="story" class="story">
          <div class="story-thumbnail">
            <img src="/images/me.jpg" alt="picture of me" />
          </div>
          <div class="story-p">
            <div class="social">
              <div class="links">
                <a href="https://www.linkedin.com/in/troy-kayne-339838110/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="https://github.com/kayne10"><i class="fa fa-github-square" aria-hidden="true"></i></a>
                <a href="https://twitter.com/tkayne403"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <!-- <a href="http://creative.colorado.edu/~trka2035/Projects/2/Portfolio/"><img src="/images/ath_ralphie.png" height="50px" alt="" /></a> -->
              </div>
            </div>
            <h3>Computer Science at University of Colorado Boulder</h3>
            <p>
              Troy Kayne is graduating from University of Colorado Boulder in the Spring of 2017.
              As a Computer Science major, Troy engaged in software development classes such as Algortihms, Operating Systems, and
              Big Data Architecture. Troy has a passion for Web Development and Deep/Machine learning.
            </p>
            <h3>Full Stack Web Developing</h3>
            <p>
              After completing a few Front-End courses, Troy is offering freelancing services for anyone interesting in needing a website.
               These services target anyone such as Skiers, Restaraunt Managers, Public Announcements, and other freelancers with a business.
                The number of pages is not an issue, Troy develops static and dynamic websites that suits any desired requirements. Sometimes, Front-End development
                can get boring to Troy, so he started to focus on Back-End/Full-Stack development after learning frameworks such as Node, Django, and Rails.
            </p>
            <h3>Photography and Exploring</h3>
            <p>
              Boulder, Colorado is an amazing place to see. Troy loves exploring the mountains, and he loves bringing his camera with him, too.
              Boulder has so many exotic places to explore. Those beautiful sunrises and sunsets keeps Troy inspired to be a photographer.
            </p>
            <!-- <p>Also, check out my freelance services at <strong class="freelance-site"><a href="https://remote.com/troykayne">remote.com</a></strong>!</p> -->
          </div>
        </section>

          <section class="skills-wrapper" id="skills">
            <div class="row skill-container">
              <h3>Tech Skills</h3>
              <div class="col-sm-3">
                <h5>Front-End Skills</h5>
                <ul>
                  <li data-score="4">HTML5
                  </li>
                  <li data-score="4">CSS3
                  </li>
                  <li data-score="4">JavaScript
                  </li>
                  <li data-score="3">React
                  </li>
                </ul>
              </div>
              <div class="col-sm-3">
                <h5>Back-End Skills</h5>
                <ul>
                  <li data-score="4">MySQL & MongoDB
                  </li>
                  <li data-score="4">Node & Express
                  </li>
                  <li data-score="3">Python
                  </li>
                </ul>
              </div>
              <div class="col-sm-3">
                <h5>Full-Stack Skills</h5>
                <ul>
                  <li data-score="4">MongoDB | Express | React | Node
                  </li>
                  <li data-score="3">Django | Python | MySql
                </ul>
              </div>
              <div class="col-sm-3">
                <h5>DevOps Skills</h5>
                <ul>
                  <li data-score="2">AWS Cloud Computation
                  </li>
                  <li data-score="2">Docker
                  </li>
                </ul>
              </div>
            </div>
            <div class="row skill-container">
              <h5>Photography Skills</h5>
              <ul>
                <li data-score="3">Adobe Photoshop</li>
                <li data-score="4">Adobe Bridge</li>
              </ul>
            </div>
          </section>

        </div>
    </section>
