<link rel='stylesheet' href='/stylesheets/style.css' />


<section class="contact" id="contact">
  <nav class="navbar navbar-default" id="cd-main-nav">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-center">
            <li><a href="/developer">Web Dev & DS</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/explore">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/shopping-cart">Shopping Cart</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="contact-wrapper">
    <h1>Contact Me</h1>
    <form action="/contact" method="post">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="subject" id="subject" name="subject" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" name="content" class="message" required>
        </textarea required="required"><br/><br/>
      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</section>
