<!-- <section class="intro">

  <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
    {{ successMsg }}
  </div>

      <nav class="intro-nav" id="cd-header-nav">
        <ul>
          <li><a href="/developer">Web Development</a></li>
          <li><a href="/gallery">Photography</a></li>
          <li><a href="/explore">Explore Blog</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>

      <header class="intro-header">
        <div class="text-header" id="me">
          <h2>Troy Kayne</h2>
          <img src="images/separator.png" alt="" />
          <h3>Developer | Photographer | Explorer</h3>
          <img src="/images/newLogo.png" width="200px" alt="">
        </div>

        <a class="discover" id="discover" href="#about">
          <i class="fa fa-angle-double-down"></i>
        </a>

      </header>

    </section> -->

    <!-- Carousel of Example Work -->
    <div class="intro">
      <div class="carousel" id="carousel">
            <!-- <button type="button" id="carousel-left-btn" class="carousel-btn" onclick="previousImage()"> &lang;</button> -->
            <div class="welcome">
              <h1>Troy Kayne</h1>
              <h3>Developer and Photographer</h3>
              <hr>
              <nav class="intro-nav" id="cd-header-nav">
                <ul>
                  <li><a href="/developer">Web Development</a></li>
                  <li><a href="/gallery">Photography</a></li>
                  <li><a href="/explore">Explore Blog</a></li>
                  <li><a href="/about">About</a></li>
                </ul>
              </nav>
            </div>

            <!-- <button type="button" id="carousel-right-btn" class="carousel-btn" onclick="nextImage()"> &rang;</button> -->
      </div>
    </div>


    <!-- Introduce Photo Galleries and Social/Explore  -->
    <!-- <section class="explore">
      <h1>Explore</h1>
      <div class="explore-wrapper">
        <div class="explore-thumbnail">
          <h3>Photo Galleries</h3>
          <ul>
            <li>Rocky Mountains</li>
            <li>Israel</li>
          </ul>
          <a href="/gallery"><button type="button" class="custom-btn">View Galleries</button></a>
        </div>
        <div class="explore-thumbnail">
          <h3>Camping Adventure Blog</h3>
          <ul>
            <li>Browse Through Adventurous places</li>
          </ul>
          <a href="/explore"><button type="button" class="custom-btn">Explore Now</button></a>
        </div>
        <div class="explore-thumbnail">
          <h3>Hiking Blog</h3>
          <ul>
            <li>Browse Through Hikes</li>
          </ul>
          <a href="/explore"><button type="button" class="custom-btn">Explore Now</button></a>
        </div>
      </div>

    </section> -->
