
    <!-- Carousel of Example Work -->
    <!-- <div class="intro">
      <div class="carousel" id="carousel">
            <div class="welcome">
              <h1>Troy Kayne</h1>
              <h3>Developer and Photographer</h3>
              <hr>
              <nav class="intro-nav" id="cd-header-nav">
                <ul>
                  <li><a href="/developer">Web Development</a></li>
                  <li><a href="/gallery">Photography</a></li>
                  <li><a href="/explore">Explore Blog</a></li>
                  <li><a href="/about">About</a></li>
                </ul>
              </nav>
            </div>
      </div>
    </div> -->


    <!-- Slideshow -->
    <div class="intro">
      <ul class="cb-slideshow">
          <li><span>Image 01</span></li>
          <li><span>Image 01</span></li>
          <li><span>Image 01</span></li>
          <li><span>Image 01</span></li>
      </ul>

      <!-- Header -->
        <header id="header">
          <div class="logo">
            <span class="icon fa fa-camera-retro"></span>
          </div>
          <div class="content">
            <div class="inner">
              <h1>Troy Kayne</h1>
              <p>Developer & Photographer</p>
            </div>
          </div>
          <nav>
            <ul>
              <li><a href="/developer">Web Dev</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/explore">Blog</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </header>
    </div>
