body {
  max-width: 1280px;
  font-family: 'Poiret One', cursive;
  margin: 0 auto;
}

html {
  background: black;
}

/* Headers */

header {
  margin-top: -1.5em;
  height: 660px;
  width: 100%;
}
header h1 {
  margin: 0 auto;
  text-align: center;
  padding-top: 250px;
  font-size: 3em;
  color: white;
  z-index: 9;
}
.intro-header {
  background: url('/images/headerBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.products-header {
  background: url('/images/devEnv.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about-header {
  background: url('/images/devEnv.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.explore-header {
  background: url('/images/headerBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.gallery-header {
  background: url('/images/evanstonSunset.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
header img {
  padding-left: 5em;
  margin: 0 auto;
}
.text-header {
  height: 150px;
  width: 450px;
  margin: 0 auto;
  padding-top: 250px;
  color: white;
  text-shadow: 0 0 15px yellow;
}
.text-header h2 {
  font-size: 3em;
}
.discover {
  position: absolute;
  color: #ffffff;
  bottom: 20px;
  right: 0;
  left: 0;
  opacity: 0.8;
  font-size: 50px;
  text-align: center;
  z-index: 9;
}


/* End Headers */
/* Intro Section */

.intro {
  height: 100%;
  width: 100%;
}
.intro-nav {
  padding-left: 3em;
  height: 50px;
  width: 80%;
  margin: 0 auto;
  background: transparent;
  margin-top: 10em;
  position: absolute;
  z-index: 9;
}
.intro-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}
.intro-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}
.intro-nav ul li a:hover {
  text-decoration: none;
  font-size: 3em;
  font-style: underline;
}

.navbar-default {
  margin: 0 auto;
  width: 100%;
  background-color: black;
  border: none;
  border-radius: 0px;
}

.navbar-nav li a {
  font-size: 1em;
}
.navbar-collapse.collapse {
  background-color: black;
}
.navbar-collapse.collapse.in {
  background-color: black;
}


.about {
  height: auto;
  width: 100%;
}
.about h1 {
  padding-top: 1.75em;
  font-size: 4em;
  text-align: center;
}
.about-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.about-thumbnail {
  padding: 3em 2em;
  font-size: 1.25em;
  letter-spacing: 1px;
  width: 50%;
}

.explore {
  height: 500px;
}

.explore h1 {
  padding-top: 2em;
  text-align: center;
}

.explore-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.explore-thumbnail {
  width: 33%;
  height: 60px;
  margin: 2px 0px;
}

.sample {
  height: 100%;
  width: 100%;
  text-align: center;
}

.carousel {
    height: 590px;
    width: 100%;
    margin: 0 auto;
    background-image: url('../images/pumpkin-patch.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.carousel button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: 45%;
    margin: .5em;
}

button:focus, button.active:focus {
    outline: none;
}

/* Products Page */

.products {
  width: 100%;
  height: auto;
}
.products h1 {
  text-align: center;
}
.products-templates {
  width: 90%;
  margin: 0 auto;
  height: auto;
}
.product-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
  padding: 3em 0em;
}
.product-thumbnail {
  width: 50%;
  text-align: center;
  padding: 2em 2em;
  border: 2px solid black;
  margin: 0px 3px;
}
.product-thumbnail ul, p {
  text-align: left;
}

.packages {
  width: 100%;
  height: auto;
  padding-top: 5em;
}
.packages h1, .packages h3 {
  text-align: center;
}
.package-wrapper {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  padding-bottom: 6em;
}
.package-wrapper h3 {
  display: block;
}
.package-thumbnail {
  width: 33%;
  height: auto;
  margin: 2em 2px;
  padding: 2em 2em;
  border: solid 2px black;
}
.skill {

}

/* About Me page */

.About {
  width: 100%;
  height: auto;
}
.About-wrapper {
  width: 100%;
}
.story {
  width: 100%;
  height: auto;
  display: flex;
}
.story-thumbnail {
  width: 40%;
  height: auto;
  z-index: 9;
}
.story-thumbnail img {
  border-radius: 100%;
  padding: 3em 6em;
  z-index: 9;
}
.story-p {
  width: 60%;
  padding: 4em 4em;
  z-index: 9;
}
.skills-wrapper {
  width: 100%;
  height: auto;
  background: black;
  color: white;
}
.skill-container {
  width: 70%;
  margin: 0 auto;
  letter-spacing: 1px;
  background: transparent;
}
.skill-container ul {
  list-style: none;
}
.skill-container > li {
  padding: 2em 1em;
}
.social {
  width: 100%;
  height: auto;
}
.links {
  width: 66%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-size: 3em;
}

/* Gallery Page */

.gallery {
  height: auto;
  width: 100%;
}
.gallery h1 {
  text-align: center;
  padding: 4em 4em;
}
.rocky-mtn {
  width: 100%;
  height: 500px;
  background: url('/images/boulderBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.israel {
  width: 100%;
  height: 500px;
  background: url('/images/israelBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.gallery-description {
  width: 100%;
  background-color: white;
  padding: 4em 4em;
  margin-top: 3em;
  height: 300px;
}
.gallery-description a {
  margin: 0 auto;
}


/* Explore Blog Page */

.explore-page {
  height: auto;
}
.blog-nav {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-around;
  padding: 2em 0px;
}
.blog-row {
  width: 100%;
  height: 33%;
}
.post-thumbnail {
  padding: 2em 4em;
  background-color: lightgrey;
  /*box-shadow: 0px 0px 8px black;*/
  margin: 3px 3px;
}
.post-thumbnail:hover {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.music-container {
  height: auto;
}
.hike-container {
  height: auto;
}
/* Contact Page */
.contact-wrapper {
  width: 50%;
  margin: 0 auto;
}



/* User Profile Page */
.welcome-container {
  width: 70%;
  height: 200px;
  font-size: 4em;
  margin: 0 auto;
  padding: 2em 3em;
  text-align: center;
}

/* Shopping Cart Page */
.shopping-cart {
  padding-top: 4em;
}
