*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}

a{ 
	text-decoration: none; 
}

ul{
	list-style: none;
}

body {
	background:#fff;
}



/* component holder */
#componentWrapper{
	position:absolute;
	top:0px;	
	left:0px;
	width:100%;
	height:100%;
	overflow:hidden;
}

#componentWrapper #playlist_list{
	display:none;
}

#componentWrapper .componentHolder{
	position:absolute;
	top:0px;	
	left:0px;
	width:100%;
	height:100%;
}

#componentWrapper .mediaHolder1, 
#componentWrapper .mediaHolder2{
	position:absolute;
	display:none;
}

#componentWrapper .componentPlaylist{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.7);
	display:none;
}

/* hide inner playlists! */
#componentWrapper .componentPlaylist .playlist{
	display:none;
}

#componentWrapper .thumbHolder{
	position:absolute;
	top:55px;
	/*size is set automatically in jquery based on thumb size for every category */
	/*background:green;*/
	overflow:hidden;
}

#componentWrapper .thumbWrapper{
	position:absolute;
	top:0px;
	left:0px;
	/*background:green;*/
}

#componentWrapper .playlistItem{
	position:relative;
	top:0px;
	left:0px;
	width:120px;
	height:80px;
	border: 4px solid #ccc;
	float:left;
	margin-right:5px;
}

#componentWrapper .playlistItem:last-child {  
   margin-right:0px;
}  

#componentWrapper .playlistItem2{
	position:relative;
	top:0px;
	left:0px;
	width:130px;
	height:80px;
	border: 4px solid #ccc;
	float:left;
	margin-right:5px;
}

#componentWrapper .playlistItem2:last-child {  
   margin-right:0px;
}   

#componentWrapper .playlistItem3{
	position:relative;
	top:0px;
	left:0px;
	width:120px;
	height:80px;
	border: 4px solid #ccc;
	float:left;
	margin-right:5px;
}

#componentWrapper .playlistItem3:last-child {  
   margin-right:0px;
}  

#componentWrapper .playlistItem4{
	position:relative;
	top:0px;
	left:0px;
	width:200px;
	height:133px;
	border: 4px solid #ccc;
	float:left;
	margin-right:5px;
}

#componentWrapper .playlistItem4:last-child {  
   margin-right:0px;
}   


#componentWrapper .playlistItem5{
	position:relative;
	top:0px;
	left:0px;
	width:130px;
	height:100px;
	border: 4px solid #ccc;
	float:left;
	margin-right:5px;
}

#componentWrapper .playlistItem5:last-child {  
   margin-right:0px;
}   


#componentWrapper .playlistItem6{
	position:relative;
	top:0px;
	left:0px;
	width:150px;
	height:100px;
	border: 4px solid #ccc;
	float:left;
	margin-right:5px;
}

#componentWrapper .playlistItem6:last-child {  
   margin-right:0px;
}   
 



/* fullscreen */
#componentWrapper .gallery_fullscreen{
	position:absolute;
	top:20px;
	left:60px;
	width:30px;
	height:30px;
}

#componentWrapper .back_button{
	position:absolute;
	top:20px;
	left:20px;
	width:30px;
	height:30px;
	cursor: pointer;
	z-index: 13;
}

#componentWrapper .music_toggle{
	position:absolute;
	width:30px;
	height:30px;
	top:20px;
	right:20px;
	/*background:red;*/
	display:none;
}



/* slideshow controls */
.slideshow_controls{
	position:absolute;
	width:110px;
	height:30px;
	top:20px;
	right:60px;
	/*background:red;*/
	display:none;
}

.slideshow_controls .controls_next, 
.slideshow_controls .controls_toggle{
	position:relative;
	width:30px;
	height:30px;
	top:0px;
	left:0px;
	margin-left:10px;
	float:right;
}

.slideshow_controls .controls_prev{
	position:relative;
	width:30px;
	height:30px;
	top:0px;
	left:0px;
	float:right;
}






/* data_controls */
#componentWrapper .data_controls{
	position:absolute;
	width:70px;
	height:30px;
	top:20px;
	right:180px;
	/*background:red;*/
}

/* link */
#componentWrapper .link_toggle{
	position:relative;
	width:30px;
	height:30px;
	top:0px;
	left:0px;
	float:right;
	display:none;
}

/* description */
#componentWrapper .info_toggle{
	position:relative;
	width:30px;
	height:30px;
	top:0px;
	left:0px;
	float:right;
	margin-left:10px;
	display:none;
}

#componentWrapper .info_holder{
	position:absolute;
	top:60px;
	right:20px;
	
	color:#e5e5e5;
	padding: 10px 20px 15px 20px;
	
	font-family:Arial, Helvetica, sans-serif;
	
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
				
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;

	display:none;
}

#componentWrapper .info_holder a{
	color:#e5e5e5;
	text-decoration:underline;
}

#componentWrapper .info_holder a:hover, a:active{
	text-decoration:underline;
}







/* playlist toggle */
#componentWrapper .playlist_toggle{
	position:absolute;
	width:30px;
	height:30px;
	top:-50px;
	left:20px;
	display:none;
}

#componentWrapper .prevMenuBtn{
	position:absolute;
	width:30px;
	height:30px;
	display:none;
	/*background:red;*/
}

#componentWrapper .prevMenuBtn img{
	position:relative;
	display:block;
	width:12px;
	height:18px;
	top:50%;
	left:50%;
	margin-left:-6px;
	margin-top:-9px;
}

#componentWrapper .nextMenuBtn{
	position:absolute;
	width:30px;
	height:30px;
	display:none;
	/*background:red;*/
}

#componentWrapper .nextMenuBtn img{
	position:relative;
	display:block;
	width:12px;
	height:18px;
	top:50%;
	left:50%;
	margin-left:-6px;
	margin-top:-9px;
}

#componentWrapper .prevThumbBtn{
	position:absolute;
	width:30px;
	height:30px;
	display:none;
	/*background:red;*/
}

#componentWrapper .prevThumbBtn img{
	position:relative;
	display:block;
	width:12px;
	height:18px;
	top:50%;
	left:50%;
	margin-left:-6px;
	margin-top:-9px;
}

#componentWrapper .nextThumbBtn{
	position:absolute;
	width:30px;
	height:30px;
	display:none;
	/*background:red;*/
}

#componentWrapper .nextThumbBtn img{
	position:relative;
	display:block;
	width:12px;
	height:18px;
	top:50%;
	left:50%;
	margin-left:-6px;
	margin-top:-9px;
}



/* menu */
#componentWrapper .menuHolder{
	position:absolute;
	top:20px;
	overflow:hidden;
	/*background:#669;*/
}

#componentWrapper .menuWrapper{
	position:absolute;
	top:0px;
	left:0px;
	/*background:green;*/
}

/* menu item */
#componentWrapper .menu_item{
	/*background:#9a6;*/
	position:absolute;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	margin-right:30px;
}




/* preloader */
#componentWrapper .componentPreloader{
	display:none;
	position:absolute;
	top:50%;
	left:50%;
	margin:-20px 0px 0px -20px;/* align with video play btn! */
	/*background:#000 url('../media/data/gallery_icons/loader.gif') no-repeat center center;*/
	width:50px;
	height:50px;
	z-index:999;
	opacity:0.7;
}

/* font calculations */
.fontMeasure{
	visibility:hidden;
}





#componentWrapper .caption_holder{
	display:none;
}

/*************************
	-	CAPTIONS	-
**************************/
#componentWrapper .caption_envato_logo	{
						position: absolute; 
						width:180px;
						height:50px;	
						
						moz-box-shadow: 2px 2px 5px #222;
						-webkit-box-shadow: 2px 2px 5px #222;
						box-shadow: 0px 3px 4px #333;
						-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
						filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');									
					}
					
#componentWrapper .caption_big_white	{
						position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 26px; 
						line-height: 36px; 
						font-family: Arial; 
						padding: 5px; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						background-color:#000;	
						letter-spacing: -1.5px;										
					}

#componentWrapper .caption_big_orange	{
						position: absolute; 
						color: #ff7302; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 30px; 
						line-height: 36px; 
						font-family: Arial; 
						padding: 0px 8px 0px 8px; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						background-color:#fff;	
						letter-spacing: -1.5px;															
					}	
					
#componentWrapper .caption_big_black	{
						position: absolute; 
						color: #000; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 36px; 
						line-height: 36px; 
						font-family: Arial; 
						padding: 0px 4px; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						background-color:#fff;	
						letter-spacing: -1.5px;															
					}		

#componentWrapper .caption_medium_grey	{
						position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 20px; 
						line-height: 20px; 
						font-family: Arial; 
						padding: 2px 4px; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						background-color:#888;		
						white-space:nowrap;	
						text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);	
						text-decoration:none;	
					}	
					
#componentWrapper .caption_small_text	{
						position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 24px; 
						line-height: 20px; 
						font-family: Arial; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						padding: 0px 8px 0px 8px;
						white-space:nowrap;	
						text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
						background-color:#C36;		
					}
					
#componentWrapper .caption_medium_text	{
						position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 20px; 
						line-height: 20px; 
						font-family: Arial; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						white-space:nowrap;	
						background-color:#39C;	
						text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);		
					}
					
#componentWrapper .caption_large_green	{
						position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 28px; 
						line-height: 40px; 
						font-family: Arial; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						white-space:nowrap;	
						text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
						background-color:#6C3;			
					}	
					
#componentWrapper .caption_big_blue	{
						position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 30px; 
						line-height: 60px; 
						font-family: Arial; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						white-space:nowrap;	
						text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
						letter-spacing: -2px;	
						background-color:#F66;		
					}	
					
					
#componentWrapper .caption_very_big_white	{
						position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 60px; 
						line-height: 60px; 
						font-family: Arial; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						white-space:nowrap;	
						padding: 0px 4px; 
						padding-top: 1px;
						background-color:#000;		
					}	
					
#componentWrapper .caption_very_big_black	{
						position: absolute; 
						color: #000; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 60px; 
						line-height: 60px; 
						font-family: Arial; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						white-space:nowrap;	
						padding: 0px 4px; 
						padding-top: 1px;
						background-color:#fff;		
					}



/**************** END CAPTIONS *******/











/* public functions */	
#publicFunctions{
	position: absolute;
	padding: 10px 25px 20px 20px;
	background:#444;
	left:50px;
	top:50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#fff;
	list-style:circle;
	z-index:9999;
	
	-moz-box-shadow: 2px 2px 5px #222;
	-webkit-box-shadow: 2px 2px 5px #222;
	box-shadow: 2px 2px 5px #222;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#222222')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#222222');
	
	display:none;
}

#publicFunctions li a{
	color:#fff;
}

#publicFunctions li a:hover, #publicFunctions li .current{
	text-decoration: underline;
}


