{% extends 'web/base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'web/css/style.css' %}">

    <section class="intro">

      <header class="about-header">
        <h1>About Troy Kayne</h1>

        <a class="discover" href="#About">
          <i class="fa fa-angle-double-down"></i>
        </a>

      </header>

    </section>

    <section class="About" id="About">
      <nav class="navbar navbar-default" id="cd-main-nav">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'web/img/logo.png' %}" width="50" alt=""></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-center">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
              </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="About-wrapper">
        <section id="story" class="story">
          <div class="story-thumbnail">
            <img src="{% static 'web/img/me.jpg' %}" width="400" alt="picture of me" />
          </div>
          <div class="story-p">
            <div class="social">
              <div class="links">
                <a href="https://www.linkedin.com/in/troykayne/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="https://github.com/kayne10" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
                <a href="https://twitter.com/tkayne403" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <!-- <a href="http://creative.colorado.edu/~trka2035/Projects/2/Portfolio/"><img src="/images/ath_ralphie.png" height="50px" alt="" /></a> -->
              </div>
            </div>
            <h3>Computer Science at University of Colorado Boulder</h3>
            <p>
              I graduated from University of Colorado Boulder in the Spring of 2018.
              As a Computer Science major, I engaged in software development classes such as Algortihms, Operating Systems, and
              Big Data Architecture. I have a passion for Web Development and Deep/Machine learning.
            </p>
            <h3>Data Science at Galvanize</h3>
            <p>
              Afer graduating from the University of Colorado Boulder, I wanted to continue my education by pursuing a
              15 week Data Science Immersive Program at Galvanaize in Denver, CO. This program was a Python-based curriculum
              focused on machine learning, statistical analysis and big data. I came out with a huge background in machine learning
              and statistical analysis where I strongly developed data visualization skills as well. In addition to participating
              in many case studies and projects, I spent my last two intense weeks focused on my capstone project that consisted
              of a beer recommendation system and convolutional neural network classifying on beer style.
            <h3>Full Stack Web Developing</h3>
            <p>
              After completing web development courses and projects on the side of all my studies, I am offering freelancing services for anyone interesting in needing a website.
              These services target anyone such as Skiers, Restaraunt Managers, Public Announcements, and other freelancers with a business.
              The number of pages is not an issue, I develope static and dynamic websites that suits any desired requirements. Sometimes, Front-End development
              can get boring to me, so I started to focus on best strategies for Back-End/Full-Stack development. My favorite frameworks are Django/Flask, Node/Express, and Rails.
            </p>
            <h3>Photography and Exploring</h3>
            <p>
              Boulder, Colorado is an amazing place to see. I love exploring the mountains, and I love bringing my camera with me, too.
              Boulder has so many exotic places to explore. Those beautiful sunrises and sunsets keeps me inspired to be a photographer.
            </p>
            <!-- <p>Also, check out my freelance services at <strong class="freelance-site"><a href="https://remote.com/troykayne">remote.com</a></strong>!</p> -->
          </div>
        </section>

          <section class="skills-wrapper" id="skills">
            <div class="row skill-container">
              <h3>Tech Skills</h3>
              <div class="col-sm-3">
                <h5>Front-End Skills</h5>
                <ul>
                  <li data-score="4">HTML5
                  </li>
                  <li data-score="4">CSS3
                  </li>
                  <li data-score="4">JavaScript
                  </li>
                  <li data-score="3">React/Redux
                  </li>
                </ul>
              </div>
              <div class="col-sm-3">
                <h5>Back-End Skills</h5>
                <ul>
                  <li data-score="4">SQL & MongoDB
                  </li>
                  <li data-score="4">Django/Flask
                  </li>
                  <li data-score="3">Ruby on Rails
                  </li>
                  <li data-score="3">Node/Express.js
                  </li>
                </ul>
              </div>
              <div class="col-sm-3">
                <h5>Full-Stack Skills</h5>
                <ul>
                  <li data-score="4">LEMP</li>
                  <li data-score="3">MERN</li>
                </ul>
              </div>
              <div class="col-sm-3">
                <h5>DevOps Skills</h5>
                <ul>
                  <li data-score="4">Docker</li>
                  <li data-score="3">Digital Ocean</li>
                  <li data-score="3">AWS</li>
                </ul>
              </div>
            </div>
            <div class="row skill-container">
              <div class="col-sm-3">
                <h5>Data Science/Machine Learning</h5>
                <ul>
                  <li data-score="3">SKlearn</li>
                  <li data-score="2">Keras</li>
                  <li data-score="2">PySpark</li>
                  <li data-score="4">Pandas</li>
                  <li data-score="4">Numpy</li>
                </ul>
              </div>
              <h5>Photography Skills</h5>
              <ul>
                <li data-score="3">Adobe Photoshop</li>
                <li data-score="4">Adobe Bridge</li>
              </ul>
            </div>
          </section>

        </div>
    </section>
{% endblock %}
