{% extends 'web/base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'web/css/style.css' %}">

<section class="intro">

      <header class="gallery-header">
        <h1>Gallery</h1>

        <a class="discover" href="#gallery">
          <i class="fa fa-angle-double-down"></i>
        </a>

      </header>

</section>

    <section class="gallery" id="gallery">
      <nav class="navbar navbar-default" id="cd-main-nav">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'web/img/Logo.png' %}" width="50" alt=""></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-center">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <!-- <li><a href="/contact">Contact</a></li> -->
              </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </section>

    <div class="rocky-mtn" id="rocky-mtn">
      <h1 class="gallery-heading"><span class="heading-title">Rocky Mountains Gallery</span></h1>
    </div>
      <div class="gallery-description">
        <p>
          It has been truly an amazing experience to explore the Rocky Mountains. I have come across some of the most beautiful sights that I’ve ever laid my eyes upon. Colorado and Utah are my two favorite States to explore. I plan to travel, camp, and make photographs of this grand landscape.
        </p>
        <a href="https://galleryoftroykayne.com/rocky-mtn-gallery.html" class="smooth-scroll custom-btn">View Gallery</a>
      </div>

    <div class="israel" id="israel">
      <h1 class="gallery-heading"><span class="heading-title">Israel Gallery</span></h1>
    </div>
      <div class="gallery-description">
        <p>
          I was fortunate to have had the opportunity to visit Israel during the winter break of 2015. I was part of an outdoor explorers’ group. We visited the diverse and wondrous landscape of The Holy Land.... Please enjoy the visual journey!
        </p>
        <a href="https://galleryoftroykayne.com/israel-gallery.html" class="smooth-scroll custom-btn">View Gallery</a>
      </div>
{% endblock %}
