{% extends 'web/base.html' %}
{% load static %}

{% block body %}
  <div class="intro">
    <ul class="cb-slideshow">
        <li><span>Image 01</span></li>
        <li><span>Image 01</span></li>
        <li><span>Image 01</span></li>
        <li><span>Image 01</span></li>
        <li><span>Image 01</span></li>
    </ul>

    <!-- Header -->
      <header id="header">
        <div class="logo">
          <span class="icon"></span>
        </div>
        <div class="content">
          <div class="inner">
            <h1>Troy Kayne</h1>
            <p>Software Engineer | Data Scientist | Photographer</p>
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <!-- <li><a href="/contact">Contact</a></li> -->
          </ul>
        </nav>
      </header>
  </div>
{% endblock %}
