.parallax [class*="bg__"] {
  position: relative;
  text-indent: -9999px;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.navbar {
	background: transparent;
	position: fixed;
}

section {
	box-shadow: nset 0 0 1em #111;
}

section header {
	background: black;
	height: 20%;
}

ul {
  list-style: none;
}

.container-fluid {
  height:100%;
}

#labs ul {
  list-style: circle;
}

#projects a {
  font-weight: bold;
}

#intro {
	background-image: url(../img/me.jpg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: 100%;
  margin-top: -20px;
}

#labs {
	background-image: url(../img/sunset.jpg);
  margin-top: -20px;
}

#labs header h1 {
	color: white;
  text-align: center;
	text-indent: 0;
  font-family: 'Exo 2', sans-serif;
}

#labs .panel-header {
	text-indent: 0;
}

.bg__bar header h1 {
	color: white;
}

/*INTRO SECTION*/

#intro .panel-header, .panel-body {
	text-indent: 0;
}

#intro ul li {
  color: black;
}

#projects {
	background-image: url(../img/gross_res.jpg);
  /*-webkit-filter: invert(100%); /* Chrome, Safari, Opera */
  /*filter: invert(90%);*/
  margin-top: -20px;
}

#projects header h1 {
	color: white;
	text-align: center;
	text-indent: 0;
  font-family: 'Exo 2', sans-serif;
}

#projects .panel-header {
	text-indent: 0;
}

#other {
  margin-top: -20px;
  background-image: url(../img/moabshot.jpg);
}

#other header h1 {
	color: white;
	text-align: center;
	text-indent: 0;
  font-family: 'Exo 2', sans-serif;
}

#labs .panel {
	background:rgba(255,255,255,0.5);
}

#projects .panel {
	background:rgba(255,255,255,0.5);
}

#intro .panel {
  background: rgba(255,255,255,0.5);
}

#other .panel {
  background: rgba(0,0,0,0.5);
}

#other .panel-body h5, li {
  color: white;
}

#other .panel-header h3 {
  color: white;
  text-align: center;
}

#bio, #tech {
  margin-top: 50px;
}

.responsive {
  max-width: 100%;
}

#other h3 {
  color: white;
}

/*Vertical Nav*/
/* No Touch devices */
.cd-nav-trigger {
  display: none;
}

#cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
#cd-vertical-nav li {
  text-align: right;
}
#cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
#cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
#cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}
#cd-vertical-nav a.is-selected .cd-dot {
  background-color: white;
}
#cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #d88683;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
#cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: white;
  font-size: 18px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}


.bg__bazz .panel-header h3 {
  color: black;
  text-indent: 0;
}
